.container{
  margin-top: 18px;
}

.rightpanel{
    margin-left: 20px;
}

.leftpanel{
    margin-left: 90px;
}

.menulist {
  display: grid;
  justify-content: center;
  grid-template-columns: 420px 420px;
  grid-gap: 10px;
}

.item {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid rgba(252, 250, 250, 0.8);
  height: 110px;
  border-radius: 5px;
  text-align: center;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 75% 25%;
}

.item-left{
  text-align: left;
  //border: 1px solid;
  padding-right: 18px;
}

.item-right{
  position: relative;
  //border: 1px solid;
  text-align: left;
  padding-bottom: 25px;
}

.menuheading{
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 5px;
  height: 150px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 35px;
}

.applybutton{
  width: 170px;
  //border: 1;
  //border-style: outset;
  border-radius: 10px;
  //padding: 2px;
  background-color: rgba(180,10,10);
  text-decoration: none;
  color: white;
  //font-weight: bold;
}

@media only screen and (max-width: 1428px) {
  .menuheading {grid-column-end:2}
  .menulist { grid-template-columns: 500px }
  .rightpanel {margin-right: 150px}
}

@media only screen and (max-width: 900px) {
  //.rightpanel {display:none}
  .leftpanel{margin-left: 0}
}
