h2{
  text-decoration: underline;
  text-decoration-line: underline;
  font-weight: 100;
}
.checkcontainer{
  margin-top: 95px;
  margin-bottom: 100px;
}

.checkorder{
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid rgba(252, 250, 250, 0.8);
  border-radius: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 25px;
  padding-top: 40px;
  overflow: auto;
  width: 800px;
}

.ordertable{
  width: 700px;
}

.divider{
  border-top: 1.2px dashed grey;
  height: 10px;
}
.rbutton{

}

.paytable{
  width: 700px;
  height: 400px;
}

.checkpayment{
  margin-top: 18px;
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid rgba(252, 250, 250, 0.8);
  border-radius: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 25px;
  padding-top: 40px;
  overflow: auto;
  width: 800px;
}
