.menuTable {
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}

.menuTable thead th {
    border: 1px solid black;
}

.menuTable tbody td {
    border: 1px solid black;
}

.cookh3 {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
