.manager {
    border-collapse: collapse;
    margin: 0 auto;
    background: grey;
    border: 1px solid black;
}

h1 {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-top: 20px
}


.manager + th + td {
    border: 1px solid black;
}


li {
    list-style-type: none;
}

table {
    width: 100%;
}

th {
    width: 50px;
}
