.manager {
    border-collapse: collapse;
    margin: 0 auto;
    background: rgba(223, 223, 223, .8);
    border: 1px solid rgba(223, 223, 223, .8);
    border-radius: 5px;
    width: 70%;
}

h1 {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-top: 20px
}


.manager + th + td {
    border-bottom: 1px solid black;
}


li {
    list-style-type: none;
}

.header {
    border-bottom: 3px solid black;
}

/* hr {
    width: 150%;
    background-color: black;
} */
