select {
    background-color: rgba(27, 215, 255, .8);
    width: 100px;
    height: 30px;
    font-size: 15px;
}

button {
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
}

.fire {
    background-color: rgba(255, 16 ,16, .8);
}

.fire:hover {
    background-color: rgba(186, 7 ,7, .8);
}

.update {
    font-size: 13px;
    background-color: rgba(3, 255, 138, .8);
}

.update: hover {
    background-color: rgba(28, 151, 94, .8);
}

input {
    font-size: 15px;

}
