@import url('https://fonts.googleapis.com/css?family=Lobster');

.welcome {
  font-size: 70px;
  margin: auto;
  font-family: Lobster;
}

#slogan {
  font-size: 40px;
  padding-top: 1%;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
